XPTOWebApp/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/XptoModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/XptoModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastUpdate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ModifiedBy" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="UserRole" nillable="true" type="tns:UserRole" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="UserRole">
    <xs:sequence>
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastUpdate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ModifiedBy" type="xs:int" />
      <xs:element minOccurs="0" name="RoleId" type="xs:int" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserRole" nillable="true" type="tns:UserRole" />
  <xs:complexType name="ArrayOfRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Role" nillable="true" type="tns:Role" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRole" nillable="true" type="tns:ArrayOfRole" />
  <xs:complexType name="Role">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastUpdate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ModifiedBy" type="xs:int" />
      <xs:element minOccurs="0" name="RoleId" type="xs:int" />
      <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserRoles" nillable="true" type="tns:ArrayOfUserRole" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Role" nillable="true" type="tns:Role" />
  <xs:complexType name="ArrayOfUserRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserRole" nillable="true" type="tns:UserRole" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserRole" nillable="true" type="tns:ArrayOfUserRole" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="Employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Department" nillable="true" type="tns:Department" />
      <xs:element minOccurs="0" name="DepartmentId" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeId" type="xs:int" />
      <xs:element minOccurs="0" name="ExitDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HireDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastUpdate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MobilePhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedBy" type="xs:int" />
      <xs:element minOccurs="0" name="OfficePhoneNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="tns:Employee" />
  <xs:complexType name="Department">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="DepartmentId" type="xs:int" />
      <xs:element minOccurs="0" name="DepartmentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Employees" nillable="true" type="tns:ArrayOfEmployee" />
      <xs:element minOccurs="0" name="LastUpdate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ModifiedBy" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Department" nillable="true" type="tns:Department" />
  <xs:complexType name="ArrayOfEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Employee" nillable="true" type="tns:Employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployee" nillable="true" type="tns:ArrayOfEmployee" />
  <xs:complexType name="ArrayOfDepartment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Department" nillable="true" type="tns:Department" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDepartment" nillable="true" type="tns:ArrayOfDepartment" />
</xs:schema>