XPTOWebApp/Connected Services/ServiceReference1/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/XPTOWcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/XPTOWcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Authenticate">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Authenticate" nillable="true" type="tns:Authenticate" />
  <xs:complexType name="ArrayOfServiceUserRoles">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceUserRoles" nillable="true" type="tns:ServiceUserRoles" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceUserRoles" nillable="true" type="tns:ArrayOfServiceUserRoles" />
  <xs:complexType name="ServiceUserRoles">
    <xs:sequence>
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastUpdate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ModifiedBy" type="xs:int" />
      <xs:element minOccurs="0" name="RoleId" type="xs:int" />
      <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceUserRoles" nillable="true" type="tns:ServiceUserRoles" />
  <xs:complexType name="ServiceEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="DepartmentId" type="xs:int" />
      <xs:element minOccurs="0" name="DepartmentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeId" type="xs:int" />
      <xs:element minOccurs="0" name="ExitDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HireDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastUpdate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MobilePhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedBy" type="xs:int" />
      <xs:element minOccurs="0" name="OfficePhoneNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceEmployee" nillable="true" type="tns:ServiceEmployee" />
  <xs:complexType name="ArrayOfServiceEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceEmployee" nillable="true" type="tns:ServiceEmployee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceEmployee" nillable="true" type="tns:ArrayOfServiceEmployee" />
</xs:schema>